* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
section:nth-child(even) {
  background-color: seashell;
  justify-content: flex-end;
}
.t-wrap h2 {
  font-size: 5rem;
  line-height: 1;
}
.t-wrap p {
  max-width: 50%;
  /* margin: auto;
  text-align: center; */
}
